@use '../../scss/defenition.scss' as d;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


$border-radius: 12px;

$postcard-w: 328px;
$postcard-h: 234px;

$info-overlay-padding: 15px;
$info-overlay-w: calc(100% - 2 * $info-overlay-padding);

.postcard {
    display: block;
    
    position: relative;
    min-width: $postcard-w;
    height: $postcard-h;
    background-image: url('https://randomwordgenerator.com/img/picture-generator/fantasy-3146946_640.jpg');
    background-size: cover;
    background-position: center;
    border-radius: $border-radius;

    color: d.$w;
}

.postcard__info-overlay {
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 33%;
    background: rgba(18, 2, 39, 0.9);
    padding: $info-overlay-padding;
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);

}

.postcard__info-overlay__content{
    width: 100%;
    height: 100%;
    
    h2 {
        @include d.title-font;
        margin: 0;
        font-size: 1.2em;
        font-weight: 700;
    }

    p {
        @include d.light-font;
        margin-top: 8px;
        font-size: 0.9em;
        
    }
}

