@use './scss/defenition.scss' as d;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-color: d.$bg-color;
    margin: 0;
    color: d.$w;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-container {
    display: grid;
    grid-template-columns: 60px 1fr;
    height: 100%;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    padding: 20px;
    overflow-y: auto;
}